name: example
description: A Flutter example project for nyx_converter.

maintainers: ["Hossein HassanNejad"]
links: { "GitHub": "https://github.com/xaus-group/nyx_converter" }

publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  nyx_converter:
    path: ../
  permission_handler: ^12.0.1
  file_picker: ^10.3.7
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
