on:
  push:
    branches:
        - master
  pull_request_target:
    types: [opened, synchronize, reopened]

name: CI

env:
  FLUTTER_VERSION: "3.22.2"

jobs:
  flutter_test:
    name: Run flutter test and analyze
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: $FLUTTER_VERSION
          channel: 'stable'
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test

  build_appbundle:
    name: Build Flutter (Android)
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: $FLUTTER_VERSION
          channel: "stable"
      - run: flutter pub get